body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}


/* TOPBAR */

.topbar{
background:#0a8f3c;
color:white;
display:flex;
justify-content:space-between;
padding:8px 40px;
font-size:14px;
}


/* NAVBAR */

.navbar{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 40px;
background:white;
}

.logo{
font-size:22px;
color:#0a8f3c;
}

.menu{
list-style:none;
display:flex;
gap:25px;
margin:0;
padding:0;
}

.menu li{
cursor:pointer;
}

.search input{
padding:6px 10px;
border:1px solid #ccc;
border-radius:4px;
}

.icons{
display:flex;
gap:15px;
cursor:pointer;
}


/* BANNER */

.banner{
display:flex;
align-items:center;
justify-content:space-between;
background:#f7dede;
margin:30px;
padding:30px;
border-radius:10px;
}

.banner-text h2{
color:#0a8f3c;
margin:0;
}

.banner-text button{
margin-top:15px;
background:#0a8f3c;
color:white;
border:none;
padding:10px 20px;
border-radius:20px;
cursor:pointer;
}

.banner-img img{
width:300px;
height:250px;
margin-right: 90px;
}


/* FILTER BAR */

.filters{
display:flex;
gap:40px;
padding:0 40px;
align-items:center;
font-size:14px;
}

.filters span{
background:white;
padding:6px 10px;
border-radius:4px;
cursor:pointer;
border:1px solid #ddd;
}

.sort{
margin-left:auto;
padding:6px 12px;
border:1px solid #ccc;
background:white;
cursor:pointer;
}


/* SECTION TITLE */

.title{
padding-left:40px;
margin-top:30px;
}


/* PRODUCTS GRID */

.products{
display:flex;
flex-wrap:wrap;
gap:50px;
padding:20px 40px;
}


/* PRODUCT CARD */

.card{
background:white;
padding:15px;
width:220px;
border-radius:10px;
text-align:center;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
position:relative;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}


/* WISHLIST HEART */

.wish{
position:absolute;
top:10px;
right:10px;
color:red;
cursor:pointer;
}


/* PRODUCT IMAGE */

.card img{
width:100%;
height:150px;
object-fit:contain;
}


/* PRICE */

.price{
color:#0a8f3c;
font-size:18px;
font-weight:bold;
}


/* RATING */

.rating{
color:#ffa500;
margin:5px 0;
}


/* BUTTONS */

.buy{
background:#0a8f3c;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;
cursor:pointer;
margin:5px;
}

.cart{
background:#0a8f3c;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;
cursor:pointer;
margin:5px;
}

.buy:hover{
background:#087a33;
}

.cart:hover{
background:black;
}
----------------------------------------------
.product-details{
margin:60px auto;
width:400px;
background:white;
padding:30px;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.product-details img{
width:250px;
margin-bottom:15px;
}

.product-details h2{
margin:10px 0;
}

.product-details p{
color:#555;
}